<?php
  /**
   * Authorization Keys for Twitter App and bot account
   * 
   * These values are generated and managed in the developer app interface.
   * 
   * Twitter User/Bot Token/Secret/Name
   *  API Key == Consumer Key
   *  API Key Secret == Consumer Key Secret
   */
  $twitterApiKey='FFEEDDCCBBAA';
  $twitterApiKeySecret='998877665544';
  $twitterBearerToken='AABBCCDDEEFF99887766554433221100';

  // OAuth2 Client ID and Secret -- These are generated and managed in the developer app interface.
  // OAuth2 Client ID/Secret are not currently used; placeholders for future consideration.
  $oauth2Id='CCDDEEFF001122334455';
  $oauth2Secret='998877665544AABBCCDDEE';

  // Authentication Tokens - Generate with Twurl or other three-legged OAuth process. Look up the accountId via Postman or whatever mechanism is simplest for you.
  $authToken='112233445566';
  $authTokenSecret='778899AABBCC';
  $authTokenAccount='botname';
  $authTokenAccountId='112233445566';
?>