<?php
  /**
   * General bot settings controlling its behavior
   */
  // Bot timezome setting and current date (Y-m-d). This is just in case it's needed in the future.
  date_default_timezone_set('America/Chicago');
  $today = gmdate('Y-m-d');
  $timeAtRun = time();

  // Lookback period -- Intended to be of an "hours" unit (e.g. -2 hours)
  $queryLookbackUpTo = "-2 hours";
  $queryString = '(#MMSMOA OR @mmsmoa) -is:retweet -is:reply -is:quote -from:mmsmoa';

  // Bot Query Defaults (see https://developer.twitter.com/en/docs/twitter-api/tweets/search/integrate/build-a-query)
  $twitterSearchDefaults = array('start_time'=>gmdate('Y-m-d\TH:i:s\Z', strtotime($queryLookbackUpTo)),'max_results'=>60,'tweet.fields'=>'reply_settings,created_at','expansions'=>'author_id','user.fields'=>'name,username,protected','sort_order'=>'recency','query'=>$queryString);
  $twitterCountDefaults = array('start_time'=>gmdate('Y-m-d\TH:i:s\Z', strtotime($queryLookbackUpTo)),'query'=>$queryString);

  // Data/Cache file paths
  $tweetDataFile = __DIR__ . '/retweetData.php';
  $activityDetailFile = __DIR__ . '/activityData.php';
  $tweetIntervalFile = __DIR__ . '/tweetInterval.php';
  $followingDataFile = __DIR__ . '/followingData.php';

  // Automatically follow users?
  $autoFollow = false;

  // Capture bot activity detail (retweet time, tweet id, search result, lookup attempt/pass in search results)?
  $logActivity = true;
?>